body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header, nav, footer {
    background-color: #00a1f1;
    color: #fff;
    text-align: center;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}
nav a {
    color: #ffcc00; 
    text-decoration: none;
    font-size: larger;
}
nav a:hover {
    color: #eec00b; 
    text-decoration: none;
    background-color: #fff;
}
nav a::after {
    color: #866c00; 
    text-decoration: none;
}

nav li {
    display: inline;
    margin-right: 20px;
}

.container {
    display: flex;
}

.column {
    flex: 1;
    padding: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
